language: node_js

node_js: stable

cache: 
  directories: 
    - node_modules

install: 
  - npm install

script:
  - hexo clean
  - hexo g

after_script: 
  - cd ./public
  - git init
  - git config user.name "jiajuu"
  - git config user.email "932636588@qq.com"
  - git add .
  - git commit -m "Update By Travis-CI"
  - git push --force --quiet "https://${key}@${GH_REF}" master

branches:
  only: 
    - master

env: 
  global:
    - GH_REF: github.com/JiaJuu/jiajuu.github.io.git